---
import TopNav from '../components/TopNav.astro'
import TopNavDev from '../components/TopNavDev.astro'
import Footer from '../components/Footer.astro'
import { getLangFromUrl } from '../i18n'
import '../styles/global.css'

interface Props {
  title: string
  staticHeader?: boolean
}

const { title, staticHeader = false } = Astro.props
const currentPath = Astro.url.pathname
const lang = getLangFromUrl(Astro.url)
const isDevSection = currentPath.includes('/developers') || currentPath.includes('/api')
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    {import.meta.env.PROD && (
      <script
        defer
        src="https://umami.internal.lonestone.io/script.js"
        data-website-id="b551cd9c-5426-410a-83ed-94d46b6a7865"></script>
    )}
    <script is:inline>
      window.$crisp=[];window.CRISP_WEBSITE_ID="652544cd-14f6-4c8c-9a04-2a56676dd4a0";
      (function(){var d=document;var s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
    </script>
  </head>
  <body class="min-h-dvh flex flex-col">
    {isDevSection ? <TopNavDev /> : <TopNav staticHeader={staticHeader} />}
    <div class="flex-1 flex flex-col">
      <slot />
    </div>
    <Footer />
  </body>
</html>
