node_modules
.DS_Store
*.local
*.cache
*.log
.env
.env.default
.nhost
.secrets

# Builds
dist
public/emails/icons
storybook-static
.react-email

# Rollup visualizer
stats.html

# Local Netlify folder
.netlify

# Sentry Config File
.env.sentry-build-plugin
.sentryclirc
