BACKEND_URL=""
WEBAPP_URL=""
ALGOLIA_ADMIN_API_KEY=""
ALGOLIA_APP_ID=""
ALGOLIA_SEARCH_API_KEY=""
GRAFANA_ADMIN_PASSWORD=""
HASURA_GRAPHQL_ADMIN_SECRET=""
HASURA_GRAPHQL_JWT_SECRET=""
MAILJET_PRIVATE_KEY=""
MAILJET_PUBIC_KEY=""
MAILJET_SMTP_PASSWORD=""
NHOST_WEBHOOK_SECRET=""
OPENAI_API_KEY=""
SECURITY_INVITATION_TOKEN=""
STRIPE_ENDPOINT_SECRET=""
STRIPE_PRIVATE_KEY=""
STRIPE_STARTUP_PLAN_PRICE_ID=""
APPS_OFFICE365_CLIENT_ID=""
APPS_OFFICE365_CLIENT_SECRET=""
APPS_GOOGLECALENDAR_CLIENT_ID=""
APPS_GOOGLECALENDAR_CLIENT_SECRET=""
