previewsEnabled: false

services:
  # Front webapp
  # Disabled because we're using Netlify (faster)
  # - type: web
  #   name: rolebase-front
  #   env: static
  #   branch: main
  #   domains:
  #     - rolebase.io
  #   buildCommand: npm i && npm run build
  #   staticPublishPath: ./dist
  #   routes:
  #     - type: rewrite
  #       source: /*
  #       destination: /index.html
  #   headers:
  #     - path: /src/demos/*
  #       name: Access-Control-Allow-Origin
  #       value: '*'
  #     - path: /assets/*
  #       name: Access-Control-Allow-Origin
  #       value: '*'
  #   autoDeploy: true

  # Storybook
  # - type: web
  #   name: rolebase-storybook
  #   env: static
  #   branch: main
  #   domains:
  #     - storybook.rolebase.io
  #   buildCommand: npm i && npm run build-storybook
  #   staticPublishPath: ./storybook-static
  #   autoDeploy: true

  # Collab (y-websocket)
  - type: web
    region: frankfurt
    plan: starter
    name: rolebase-collab
    env: node
    branch: main
    domains:
      - collab.rolebase.io
    buildCommand: npm i yjs y-websocket
    startCommand: npx y-websocket
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: HOST
        value: 0.0.0.0
      - key: PORT
        value: 1234
    autoDeploy: false
    pullRequestPreviewsEnabled: false
