rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOrgReader(orgId) {
    	return isSignedIn() && (
        request.auth.token['org-' + orgId] == 'Readonly'
        || request.auth.token['org-' + orgId] == 'Member'
        || request.auth.token['org-' + orgId] == 'Admin'
      );
    }

    function isOrgMember(orgId) {
    	return isSignedIn() && (
        request.auth.token['org-' + orgId] == 'Member'
        || request.auth.token['org-' + orgId] == 'Admin'
      );
    }

    function isOrgAdmin(orgId) {
      return isSignedIn() && request.auth.token['org-' + orgId] == 'Admin';
    }

    // Check if file size is within the limit in Mo
    function isSizeAllowed(size) {
      return request.resource.size < size * 1024 * 1024;
    }

    match /orgs/{orgId} {
      match /members/{memberId}.(jpg,jpeg,png,gif,webp) {
        allow read: if isOrgReader(orgId);
        allow write: if isOrgMember(orgId) && isSizeAllowed(5);
      }
    }
  }
}
