rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }
    function isOrgAuthorized(orgId) {
    	return isSignedIn() && request.auth.uid in get(/databases/$(database)/documents/orgs/$(orgId)).data.ownersIds;
    }

    match /members/{memberId} {
      allow write: if request.resource.size < 5 * 1024 * 1024
      allow read, write: if ;
    }
  }
}
