---
import greenCheck from '../assets/images/green-check.svg'

interface Props {
  label: string
}

const { label } = Astro.props
---

<div class="flex items-center gap-2">
  <img src={greenCheck.src} alt="" class="h-5 w-5" />
  <span>{label}</span>
</div>
