---
interface Props {
  lang?: string
  title?: string
}

const { lang = '', title } = Astro.props
---

<div class="my-4">
  {title && <div class="bg-gray-800 text-gray-200 px-4 py-1.5 text-xs font-mono rounded-t-lg">{title}</div>}
  <pre class:list={[title && '!mt-0 !rounded-t-none']}><code class={lang ? `language-${lang}` : ''}><slot /></code></pre>
</div>
