---
import PageSection from './PageSection.astro'

interface Props {
  senjaId: string
}

const { senjaId } = Astro.props
---

<PageSection>
  <div class="senja-embed" data-id={senjaId} data-lazyload="false"></div>
  <script async type="text/javascript" src="https://static.senja.io/dist/platform.js"></script>
</PageSection>
