/*** Fullcalendar cutomizations ***/

:root {
  --fc-page-bg-color: transparent;
  --fc-small-font-size: 0.85em;
  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;
  --fc-daygrid-event-dot-width: 8px;
  --fc-list-event-dot-width: 10px;

  --fc-button-border-color: transparent;
  --fc-button-hover-border-color: transparent;
  --fc-button-active-border-color: transparent;

  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-bg-event-opacity: 0.3;
  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-now-indicator-color: red;
}

.chakra-ui-light {
  --fc-neutral-bg-color: var(--chakra-colors-gray-100);
  --fc-neutral-text-color: var(--chakra-colors-gray-500);
  --fc-border-color: var(--chakra-colors-gray-200);
  --fc-event-text-color: var(--chakra-colors-gray-800);
  --fc-button-text-color: var(--chakra-colors-gray-800);
  --fc-button-bg-color: var(--chakra-colors-gray-100);
  --fc-button-hover-bg-color: var(--chakra-colors-gray-200);
  --fc-button-active-bg-color: var(--chakra-colors-gray-300);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-list-event-hover-bg-color: var(--chakra-colors-gray-50);
}

.chakra-ui-dark {
  --fc-neutral-bg-color: var(--chakra-colors-gray-700);
  --fc-neutral-text-color: var(--chakra-colors-gray-500);
  --fc-border-color: var(--chakra-colors-gray-550);
  --fc-event-text-color: var(--chakra-colors-gray-100);
  --fc-button-text-color: var(--chakra-colors-gray-100);
  --fc-button-bg-color: var(--chakra-colors-gray-600);
  --fc-button-hover-bg-color: var(--chakra-colors-gray-550);
  --fc-button-active-bg-color: var(--chakra-colors-gray-550);
  --fc-today-bg-color: rgba(255, 220, 40, 0.05);
  --fc-list-event-hover-bg-color: var(--chakra-colors-gray-600);
}

/* Event */
.fc-event {
  cursor: pointer;
}
.fc-v-event {
  border-color: transparent;
}
a.fc-event:hover {
  border-color: var(--chakra-colors-gray-500);
}

/* Title */
.fc .fc-toolbar-title {
  font-size: 1.2em;
}

/* Button */
.fc .fc-button {
  border-radius: 0.375rem;
  border-color: transparent;
}
.fc .fc-button-primary,
.fc .fc-button-primary:disabled {
  border-color: transparent;
}
.fc .fc-button-primary:hover {
  border-color: transparent;
}

/* Button active */
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  color: inherit;
  border-color: transparent;
}

/* Outline */
.fc .fc-button:focus,
.fc .fc-button-primary:focus,
.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: var(--chakra-shadows-outline);
}

/* Margins */
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.25em;
}
